.about__banner {
  background: #f4fbff;
  padding: 40px 0;
}

.about__banner-icon {
  display: flex;
  @media screen and (min-width: 768px) {
    display: block;
  }
  img {
    width: 100%;
  }
}

.about__banner-video {
  position: relative;
  padding-bottom: 67.5%;
  height: 0;
  & iframe {
    box-sizing: border-box;
    background: url(https://i.stack.imgur.com/zZNgk.png) center center no-repeat;
    background-size: contain;
    padding: 11% 15.4% 13.5% 15.6%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.about-nav__item {
  margin-right: 10px;

  @media screen and (min-width: 992px) {
    margin-right: 30px;
  }
}

.about-nav__item-link {
  color: $black;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  padding: 20px 16px;
  &.active {
    border-bottom: 2px solid $red;
  }
}

.about-nav--right {
  @media screen and (min-width: 992px) {
    float: right;
  }
}

.about__tabs-content {
  background: $white;
}

.about-details__wrapper {
  margin-bottom: 70px;
  &:last-child {
    margin-bottom: 0;
  }
}

.about__card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid $black;
  border-radius: 4px;
  padding: 30px;
  text-align: center;
  color: #6C757D;
  font-size: 16px;
}

.about__card-no-border {
  border: 0;
  box-shadow: none;
}

.about__card-title {
  font-size: 18px;
    font-weight: bold;
    border-bottom: 2px solid $red;
    display: inline-block;
}



.about__card-details {
  margin-top: 14px;
  color: $text-gray;
  font-size: 16px;
}

.about-content__intro {
  margin: 40px auto;
}

.about-content__intro-title {
  font-size: 24px;
  color: $black;
  line-height: 34px;
  font-weight: bold;
}

.about-content__intro-subtitle {
  margin: 10px auto;
  color: $black;
  line-height: 24px;
  font-size: 14px;
  font-weight: bold;
}

.about-content__intro-details {
  font-size: 16px;
}

.value-icon {
  height: 60px;
}

.value-title {
  font-size: 14px;
  font-weight: bold;
  color: $text-gray;
  display: block;
  margin-top: 6px;
}

.about-content__title {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: $black;
  display: block;
  font-weight: bold;

  @media screen and (min-width: 992px) {
    display: inline-block;
    font-size: 24px;
    border-bottom: 2px solid $red;
  }
  
}

.about-content__details {
  margin-top: 26px;
  font-size: 16px;
  line-height: 26px;
  color: $text-gray;
  max-width: 90%;
  text-align: center;
  margin: 26px 0
  & p {
    font-size: 16px;
    line-height: 26px;
    color: $text-gray;
  }

   button {
     margin: 20px 0;
   }


  @media screen and (min-width: 992px) {
    text-align: left;
  }
}

.about-md-details {
  margin: 20px 0;
}
.user {
  display: flex;
  align-items: center;
  flex-direction: column;  
}

.user__details {
  margin-left: 20px;
  text-align: center;
  span {
    display: block;
    font-size: 16px;
    margin-bottom: 4px;
  }
}

.user__name {
  font-size: 18px;
  text-transform: capitalize;
  color: $black;
  font-weight: 500;
}

.openings-list {
  margin-top: 40px;
}

.career-card {
  cursor: pointer;
  flex-direction: column;
  &.card--full {
    padding: 6px;
    @media screen and (min-width: 768px) {
      padding: 30px;
    }
  }
  &:hover {
    background: $gray;
  }
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  a {
    max-width: 120px;
    margin: 6px 0;
    @media screen and (min-width: 992px) {
      max-width: auto;
    margin: 0;
    }
  }
}

.career-card__opening {
  display: flex;
  font-weight: 16px;
  font-weight: bold;
  align-items: center;
  @media screen and (min-width: 992px) {
    flex-direction: 24px;
  }
}

.career__count {
  margin-left: 20px;
}

.csr {
  & .custom-card__title {
   border-bottom: none;
  }
}

.md-message__content {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  @media screen and (min-width: 992px) {
    text-align: justify;
  }
}

.team-card {
  padding: 20px;
  background: $gray;
  border: 1px solid #ACACAC;
  padding-bottom: 20px;
  -webkit-box-shadow: 0px 0px 24px 0px rgba(230,225,230,0.73);
-moz-box-shadow: 0px 0px 24px 0px rgba(230,225,230,0.73);
box-shadow: 0px 0px 24px 0px rgba(230,225,230,0.73);
max-width: 450px;
}

.team-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team-slider {
  margin: 40px auto;
}


.slick-slider {
  width: 100%;
  background-color: transparent;
  .slick-track {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
  }
  .slick-slide{
    float: none;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 0px;
    margin: 10px auto;
    background-color: white;
    transition: all 0.3s ease;
    height: auto;
    text-align: center;
  }
}

.slick-prev,
.slick-next {
  z-index:10;  
  top: 0px;
}
.slick-prev {
  left: 10px;
}
.slick-next {
  right: 10px;
}

.slick-slide .team-card {
@media screen and (min-width: 1200px) {
  opacity: 0.5;
}
}

.slick-slide.slick-center .team-card{
  transform: scale(1.1);
  opacity: 1;
}

.yaxis-details-list {
  @media screen and (min-width: 768px){
    text-align: left;
  }
  & li {
    color: $black;
  }
}

.rect {
  width: 110px;
  height: 110px;
  display: flex;
  border-radius: 0;

  & img {
    width: 100%;
  }
}