// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
.footer {
  font-size: 14px;
}

.footer-menu {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
}

.footer-menu__item {
  margin: 4px 10px 0 0;
}

.footer-menu__item-link {
  color: $black;
  text-decoration: underline;
  &:hover {
    color: #454545;
  }
}

.footer__org-name {
  font-weight: bold;
  &:hover {
    text-decoration: underline;
  }
}

.footer__org-address {
  font-weight: bold;
  &:hover {
    text-decoration: underline;
  }
}
.footer-bottom {
  display: flex;
  padding: 20px 20px;
  font-size: 14px;
  align-items: center;
  color: $white;
}

.footer-copyright {
  width: 50%;
  & p {
    margin-bottom: 0;
  }
}

.footer__menu-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 50%;
}

.footer__menu {
  display: flex;
  margin-bottom: 0;
}

.footer__menu-list {
  margin-right: 15px;
  &:last-child {
    margin-right: 0;
  }
}

.footer__list-link {
  color: $white;
}

.footer__menu-title {
  color: $white;
  font-size: 24px;
  font-weight: bold;
  display: inline-block;
}

.footer__top-menu {
  margin-block-end: 0;
  margin-bottom: 0;
  @media screen and (min-width: 992px) {
    margin-top: 30px;
  }
  padding: 0;
  margin-top: 20px;
  list-style: none;
}

.footer__top-menu__list {
  margin-bottom: 10px;
}

.footer__top-menu-item {
  color: $white;
  font-size: 16px;
  cursor: pointer;
  &:hover {
    color: $yellow;
  }
  &:before {
    content: '->';
  }
}
