.main {
  @media screen and (min-width: 992px) {
    padding-top: 126px;
  }
}
.main__banner {
  @media screen and (min-width: 992px) {
    display: flex;
  }
 
}

.main__banner-left {
  width: 100%;
  @media screen and (min-width: 992px) {
    width: 60%;
  }

}

.main__banner-right {
  width: 100%;
  @media screen and (min-width: 992px) {
    width: 40%;
  background: $blue-dark;
  }
 
}


.search-container {
  margin: 30px auto;
  @media screen and (min-width:1200px) {
    width: 80%;
    margin: 30px 0;
  }
  @media screen and (min-width: 1700px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.search-title {
  @media screen and (min-width: 1200px) {
    font-size: 18px;
  }
  text-align: center;
  font-size: 16px;
  margin-bottom: 15px;
}

.main__lpu-container {
  display: flex;
  padding: 50px 30px;
  background: $gray;
}

.lpu-logo {
  width: 300px;
  height: auto;
  background: url(../images/lpu-logo.png) no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
}

.lpu__contact-btn {
  margin-top: 20px;
}

.section-details {
  position: relative;
  width: 80%;
  @media screen and (min-width: 768px) {
    width: 50%;
  }
  @media screen and (min-width: 1200px) {
    width: 80%;
  }
}

.section-title-container {
  display: flex;
  align-items: center;
  padding-bottom: 6px;
}

.line {
  background: $red;
  height: 2px;
  width: 64px;
  display: inline-block;
}

.line-after {
  margin-left: 14px;
}

.line-before {
  margin-right: 14px;
}

.section-title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 0;
}

.section-subtitle {
  font-size: 14px;
  margin: 6px auto 17px;
}

.news-and-notices {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
    position: fixed;
    height: 60px;
    bottom: 0;
    left: 25%;
  }

  & .news__link {
    padding: 20px;
    border: 1px solid $black;
    color: $black;
    background: $white;
    position: relative;
    &:hover {
      background: $yellow;
      color: $white;
      border: 0;
    }
  }
}

