// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.button--primary {
  background: #333333;
  color: $white;
  border-color: transparent;
  &:hover {
    outline: none;
    // background: transparent;
    // border: 1px solid $black;
    background: $yellow;
    color: $white;
    transform: .3s cubic-bezier(.25,.46,.45,.94),-webkit-transform .3s cubic-bezier(.25,.46,.45,.94);
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.button__appointment {  
@media screen and (min-width:1200px){
    margin-right: 36px;; 
  }
}

.btn-danger {
  background: $red;
  color: $white;
}

.btn-popup__wrapper {
    position: fixed;
    top: 50%;
    z-index: 9;
    @media screen and (min-width: 1200px) {
      display: none;
    }
    button {
      transform: rotate(-90deg);
    position: relative;
    left: -60px;
    }
}