.contact__form-info {
  margin-top: 40px;
}


.contact__sub-title {
  font-size: 16px;
  line-height: 21px;
  width: 100%;
  max-width: 400px;
  margin-top: 40px;
  color: $text-gray;
}

.contact__form-image {
  width: 100%;
  height: 300px;

  @media screen and (min-width: 768px) {
    width: 60%;
    height: 300px;
    margin: 0 auto;
   
  }
  @media screen and (min-width: 992px) {
    width: 86%;
    height: 400px;
   
  }
  background: url(../images/get-in-touch.jpg) no-repeat;
  background-size: cover;
}

.form-wrapper {
  margin: 40px 0;
}

.form-title {
  font-size: 16px;
  color: $black;
}

.form__row {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    width: 100%;
    display: flex;
    margin-bottom: 30px;
  }
 
}

.form__input-wrapper {
  width: 100%;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    width: 50%;
    margin-right: 50px;
    margin-bottom: 0;
    &:last-child {
      margin-right: 0;
    }
  }
 
}

.form__input-wrapper--lg {
  width: 100%;
}

.form__input {
  border: 1px solid $text-gray;
  padding: 14px 24px;
  border-radius: 4px;
  color: $black;
  font-size: 16px;
  width: 100%;
  &::placeholder {
    color: $text-gray-light;
  }
}

.form__input--error {
  border-color: $red;
}

.form__error {
  font-size: 12px;
  color: $red;
}

.form__input--lg {
  width: 100%;
}

.form__policy {
  display: block;
  width: 100%;
  margin-bottom: 0;
}

.form__btn {
  min-width: 130px;
  display: block;
  margin: 0 auto;
}

.form__link {
  color: blue;
}