.section {
  padding: 20px 0 20px;
  @media screen and (min-width: 1200px) {
    padding: 40px 0 40px;
  }
}

.section__title-lg {
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.section-title-container--right {
  text-align: right;
  float: right;
}

.section--packages {
  background: $white;
}

.section__link-wrapper {
  @media screen and (min-width: 992px) {
    float: right;
    width: 72%;
    text-align: right;
  }
 
}

.section__link {
  
  font-size: 16px;
  color: $black;
  font-weight: bold;
  text-align: right;

  &:hover {
    color: $yellow;
  }
}