.section {
  padding: 40px 0;
  @media screen and (min-width: 1200px) {
    padding: 40px 20px;
  }
}

.section__title-lg {
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.section-title-container--right {
  text-align: right;
  float: right;
}

.section--packages {
  background: $black;
  margin-left: -15px;
  margin-right: -15px;
  @media screen and (min-width: 768px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.section--branch-offices {
  margin-left: -15px;
  margin-right: -15px;
  @media screen and (min-width: 768px) {
    margin-left: auto;
    margin-right: auto;
  }
}