.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  color: #000;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.slider-img {
  width: 100%;
  height: auto;
}

.swiper-pagination-bullet-active {
  background-color: $red;
}

.swiper-button-prev {
  outline: none;
  &:focus {
    outline: none;
  }

  &:after {
    color: $red;
  }
}

.swiper-button-next {
  outline: none;
  &:focus {
    outline: none;
  }

  &:after {
    color: $red;
  }
}

.swiper-slide {
  position: relative;
  background: transparent;
}

.slider-apply-btn {
  display: none;
  @media screen and (min-width: 992px) {
    position: absolute;
    bottom: 20px;
    right: 30px;
    display: inline-block;
  }
  
}
.custom-slider--right .swiper-slide {
  background: transparent;
}
.slider-content {
  padding: 30px;
}

.custom-slider--right .swiper-button-prev,.custom-slider--right .swiper-button-next, .custom-slider--right .swiper-pagination {
  display: none;
}

.slider-content {
  & img {
    width: 100%;
  }
}