.top-bar {
  padding: 16px 0 16px;
  display: flex;
  background: $gray;
  border-bottom: 1px solid $border-color;
  & .custom-container {
    @media screen and (min-width: 992px) {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }
}

.top-bar__content {
  margin-bottom: 16px;
  @media screen and (min-width: 768px) {
    display: inline-block;
    margin-right: 30px;
  }
  @media screen and (min-width: 992px) {
    margin-bottom: 0;
    margin-right: 30px;
  }
}

.top-bar__label {
  a {
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    margin-right: 4px;
    margin-left: 4px;
    color: $black;
    &:hover {
      color:$light-black;
    }
  }
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  margin-right: 4px;
  color: $black;
}
.top-bar__label-title-social {
  display: inline-block;
  font-size: 14px;
}

.top-bar__label-title {
  display: none; 
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    margin-right: 20px;
    display: inline-block;
  }
  
}
.top-bar__counseling {
  margin-top: 20px;
  @media screen and (min-width: 1200px) {
    position: relative;
    float: right;
    margin-top: 0;
  }
 
}

.top-bar__label--viber {
  &:after {
    display: none;
    @media screen and (min-width: 1200px) {
      content: "";
      height: 80%;
      width: 1px;
      background: $black;
      position: absolute;
      margin-left: 5px;
      bottom: 0;
      display: inline-block;
    }
   
  }
}

.top-bar__label-phone {
  display: inline-block;
  & a{
    font-size: 14px;
    @media screen and (min-width: 992px) {
      font-size: 18px;
      font-weight: bold;
    }
  
  }
  font-size: 18px;
  font-weight: bold;
}

.top-bar__email {
  display: inline-block;
}

.top-bar__phone {
  display: inline-block;
}